html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Fira Sans", Avenir, "Helvetica Neue", "Lucida Grande", sans-serif;
  background-color: #fff;
}

* {
  box-sizing: border-box;
}

.header {
  min-width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: rgba(255, 255, 255, .5);
  backdrop-filter: blur(3px);
  padding: 0 5%;
}

.logo {
  height: 2rem;
  margin: 2rem;
}

.nav {
  margin-left: auto;
}

.ul {
  list-style: none;
  display: flex;
}

.a {
  color: inherit;
  text-decoration: inherit;
  margin: 1rem;
}

main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vw;
  margin: 0 auto;
}

main > ul {
  list-style-type: "# " !important;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.status {
  display: inline-block;
  border-right: 1px solid rgba(0, 0, 0,.3);
  margin: 0;
  margin-right: 20px;
  padding: 10px 23px 10px 0;
  font-size: 24px;
  font-weight: 500;
  vertical-align: top;
}

.wrap {
  display: inline-block;
  text-align: left;
  line-height: 49px;
  height: 49px;
  vertical-align: middle;
}

.message {
  font-size: 14px;
  font-weight: normal;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

.right {
  text-align: right;
}
